body{
    font-family: Arial, Helvetica, sans-serif;
}

#heading{
    text-align: center;
}
.btn{
    width: auto;
    padding: 5px 15px;
    height: auto;   
}
/* a:visited {
  color: black !important;
} */
